TemplateNifi/Invoke_Http_Customer_CURL_v1.0.1.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>74acaa67-018b-1000-b9c1-2c656d01fc7c</groupId>
    <name>Invoke Http Customer CURL v1.0.1</name>
    <snippet>
        <processGroups>
            <id>96279609-4ba0-3dcc-0000-000000000000</id>
            <parentGroupId>12f13b62-9e95-3aa1-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>96279609-4ba0-3dcc-accd-3d4d1cae5eeb</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>aa3d7fe1-55cf-380b-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <versionedComponentId>aa3d7fe1-55cf-380b-824f-100a6afd5a03</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>cfb2c550-e6e6-307d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cfb2c550-e6e6-307d-810a-02450ff983ab</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>8922e7b7-2246-3c60-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8922e7b7-2246-3c60-819c-1a3cbecfe005</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>abebc666-2af7-347e-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <versionedComponentId>abebc666-2af7-347e-a30a-0c6cecb03a92</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>f683b74d-8365-3b8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f683b74d-8365-3b8e-a1ac-d0b2cab5f2dd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>cfb2c550-e6e6-307d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cfb2c550-e6e6-307d-810a-02450ff983ab</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bf021cc2-4a1d-3639-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <versionedComponentId>bf021cc2-4a1d-3639-a6fa-57a2d7e8c425</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>e2e27b7c-ffe7-3ff1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e2e27b7c-ffe7-3ff1-be74-28bd71b5b0db</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>96279609-4ba0-3dcc-0000-000000000000</groupId>
                        <id>f683b74d-8365-3b8e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f683b74d-8365-3b8e-a1ac-d0b2cab5f2dd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>8922e7b7-2246-3c60-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <position>
                        <x>688.0</x>
                        <y>32.0</y>
                    </position>
                    <versionedComponentId>8922e7b7-2246-3c60-819c-1a3cbecfe005</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 0 0 ? * * 2099</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>cfb2c550-e6e6-307d-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <position>
                        <x>687.0000473607895</x>
                        <y>282.9999590287775</y>
                    </position>
                    <versionedComponentId>cfb2c550-e6e6-307d-810a-02450ff983ab</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Working Directory</key>
<value>
    <name>Working Directory</name>
</value>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>
    <name>Command Path</name>
</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>
    <name>argumentsStrategy</name>
</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Command Arguments</name>
</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value>
    <dependencies>
        <dependentValues>Command Arguments Property</dependentValues>
        <propertyName>argumentsStrategy</propertyName>
    </dependencies>
    <name>Argument Delimiter</name>
</value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>
    <name>Ignore STDIN</name>
</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>
    <name>Output Destination Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>
    <name>Max Attribute Length</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Working Directory</key>
                            </entry>
                            <entry>
<key>Command Path</key>
<value>curl</value>
                            </entry>
                            <entry>
<key>argumentsStrategy</key>
<value>Command Arguments Property</value>
                            </entry>
                            <entry>
<key>Command Arguments</key>
<value>-s -L -X DELETE "#{BASE_URL}/api/v1/logout" -H "Content-Type: application/x-www-form-urlencoded" -d "user=andre" -d "password=123" -w "&amp;SpliHereStart&amp;%{json}&amp;SpliHereEnd&amp;"</value>
                            </entry>
                            <entry>
<key>Argument Delimiter</key>
<value> </value>
                            </entry>
                            <entry>
<key>Ignore STDIN</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Output Destination Attribute</key>
<value>return</value>
                            </entry>
                            <entry>
<key>Max Attribute Length</key>
<value>5000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteStreamCommand</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                </processors>
                <processors>
                    <id>e2e27b7c-ffe7-3ff1-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <position>
                        <x>687.0000473607895</x>
                        <y>802.9999590287775</y>
                    </position>
                    <versionedComponentId>e2e27b7c-ffe7-3ff1-be74-28bd71b5b0db</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>DEBUG</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>debug</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>Log: </value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>${metadata}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogMessage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>f683b74d-8365-3b8e-0000-000000000000</id>
                    <parentGroupId>96279609-4ba0-3dcc-0000-000000000000</parentGroupId>
                    <position>
                        <x>687.0000473607895</x>
                        <y>546.9999590287775</y>
                    </position>
                    <versionedComponentId>f683b74d-8365-3b8e-a1ac-d0b2cab5f2dd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.2</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>bodyReponse</key>
<value>
    <name>bodyReponse</name>
</value>
                            </entry>
                            <entry>
<key>contentReponse</key>
<value>
    <name>contentReponse</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>bodyReponse</key>
<value>${
return
:substring(0,${return:indexOf('&amp;SpliHereStart&amp;')})
:replace('&amp;SpliHereStart&amp;','')
}</value>
                            </entry>
                            <entry>
<key>contentReponse</key>
<value>${
return
:substring(${return:indexOf('&amp;SpliHereStart&amp;')},${return:indexOf('&amp;SpliHereEnd&amp;')})
:replace('&amp;SpliHereStart&amp;','')
:replace('&amp;SpliHereEnd&amp;','')
}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>Invoke Http Customer CURL</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/04/2023 01:42:56 BOT</timestamp>
</template>
